[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
black = "~=24.4"
check-manifest = "*"
cx_Freeze = {version = "*", markers="sys_platform == 'win32'"}
importlib-metadata = "*"
isort = "*"
pyftpdlib = "*"
pyftpsync = {editable = true, path = "."}
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-sftpserver = "*"
ruff = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
tox = "*"
twine = "*"
wheel = "*"
yabs = "*"

[packages]
colorama = "*"
keyring = "*"
pysftp = "*"
PyYAML = "*"

[requires]
python_version = "3.12"

[pipenv]
