[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
black = "~=22.12"
check-manifest = "*"
cx_Freeze = {version = "~=6.11", os_name = "== 'nt'"}
flake8 = "*"
flake8-bugbear = "*"
flake8-quotes = "*"
isort = "*"
pyftpdlib = "*"
pyftpsync = {editable = true, path = "."}
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-sftpserver = "*"
# recommonmark = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
tox = "*"
twine = "*"
wheel = "*"
yabs = "*"
importlib-metadata = "*"

[packages]
colorama = "*"
keyring = "*"
pysftp = "*"
PyYAML = "*"
yabs = "*"

[requires]
python_version = "3.11"

[pipenv]
# allow_prereleases = true
